body{
  font-family: Inter,'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #d1d5db;
  background-color: #111827;
}

#asgard{
  height: auto;
  width: 600px;
}

.lists{
  font-size: 1.125rem; /* Font size relative to browser font size => 16*1.125 = 18 */
  font-weight: 500;
  color: #4b5563;
}
a:link, a:visited{
  color: #a9792b;
}
a:active, a:hover{
  text-decoration: none;
}